<?xml version="1.0"?>
<configuration>
  <appSettings configSource="setting.config"></appSettings>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off">
      <error statusCode="404" redirect="index.html" />
    </customErrors>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" prefixLanguageFilePath="" path="/index.html" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>